---
//export const prerender = false;//
---

<!-- Search and CTA -->
<div
  id="search"
  class="z-390 bg-slate-900 text-white"
>
</div>
<script is:inline>
  window.addEventListener('DOMContentLoaded', (event) => {
    new PagefindUI({ element: '#search', showSubResults: true,
      showImages: false,
     });
  });
</script>
